#filetable td.name, #filetable td.title, #filetable td.episode {
  word-break: break-all;
}

@media screen and (max-width: 768px) {

  #filetable {
    border: 0;
  }

  #filetable thead {
    display: none;
  }

  #filetable tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  #filetable td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    word-break: break-all;
  }

  #filetable td.image {
    text-align: center;
  }

  #filetable td:last-child {
    border-bottom: 0;
  }

  #filetable td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }

}
