.login-form {
    max-width: 300px;
  }

  .login-form-margin {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

.anonymous-login-button {
  max-width: 300px;
  width: 100%;
}