<div nz-row>
<h3>登录到弹弹play媒体库</h3>
</div>
<form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-control nzErrorTip="请输入用户名">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="userName" placeholder="用户名" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="请输入密码">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="密码" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [nzLoading]="loading">
        登录
    </button>
  </form>
  <button nz-button class="anonymous-login-button" [nzLoading]="loading" (click)="anonymousLogin()">
      游客登录
  </button>