/* You can add global styles to this file, and also import other style files */

.dplayer-danmaku {
    font-size: 25px !important;
    height: 83% !important;
}

.dplayer-danmaku .dplayer-danmaku-right.dplayer-danmaku-move {
    -webkit-animation: danmaku 10s linear !important;
    animation: danmaku 10s linear !important;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.dplayer-danmaku .dplayer-danmaku-item {
    -webkit-text-stroke: 0.1px black !important;
    text-stroke: 0.1px black !important;
    text-shadow: 1.0px 1.0px 0.5px rgba(0, 0, 0, .5) !important;
}
